.button {
    font-size: 15px;
    padding: 12px 58.5px;
    border: solid 1px $mainColor;

    &--white {
        color: $mainColor;    

    &:hover {
        color: white;
        background-color: $mainColor;
    }
    }
}